<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium dolorem, eaque quod quae sed quos ea rerum et qui illo, nesciunt, quisquam repellat itaque iure. Explicabo nihil possimus vero doloremque?</p>
<%- include("footer") -%>